{% extends 'base.html' %}

{% block title %}
<title>Усі пости</title>
{% endblock title %}

{% block main %}
    <main class="container-fluid p-0">
       
        <h1 class="text-center mt-5">{{category}}</h1>
        <div class="posts container py-5">
          <div class="card-group">
            {% for post in posts %}
              <div class="card m-2" style="min-width: 18rem;">
                <img src="{{ url_for('static', filename='img/' + post[4]) }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{post[2]}}</h5>
                  <a href="{{url_for('post', post_id = post[0])}}" class="card-link stretched-link"></a>
                </div>
            </div>
            {% endfor %}
          </div>
          </div>
        </div>
        <!-- Головний контент сторінки -->
    </main>   
{% endblock main %}

